@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

* {
    line-height: 160%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

button {
    line-height: 160%;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-logo {
    background-image: url(./assets/logo-white.png);
}

.hero-section {
    background-image: url(./assets/hero-image-extended.jpg);
    position: relative;
}

.hero-section::after {
    z-index: 0;
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0));
    z-index: 0;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 4px;
}

.pes-video {
    background-image: url(./assets/video-image.png);
}

.frame {
    position: relative;
    background: rgba(255, 255, 255, 0.0);
}

.learn-at-frame::after {
    background-image: url(./assets/Frame1.png);
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.learn-online-frame::after {
    background-image: url(./assets/Frame2.png);
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.frame:hover {
    background: rgba(255, 255, 255, 0.8);
    transition-duration: 200ms;
}

@media screen and (min-width: 1080px) {
    .hero-section {
        background-position-x: 12px;
    }

    .hero-section::after {
        background-image: linear-gradient(to right,
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 0.6),
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0));
    }
}